#header-banner {
    height:10px;
}

.forum-content {
    display: none;
}

.forum-wrapper {
    height: auto;
    display: flex;
}

.forum-left-content {
    display: block;
    align-content: unset;
}

.forum.type-table-forum {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 0;
}

.forum-header {
    margin: 0 0 10px 0;
}

.forum-left-content {
    display: flex;
    padding: 10px 10px;
    gap: 10px;
}

.forum-sous-cat {
    width: 50%;
    height: fit-content;
    margin-top: 36px;
    max-height: 75px;
    overflow: auto;
    width: 100%;
}

.forum-name {
    width: 50%;
}

.avatar-default img {
    display: none;
}




@media only screen and (max-width: 768px) {
    .forum-lastpost {
        width: auto;
    }

    .forum.type-table-forum {
        display: flex;
        flex-direction: column;
    }

}